body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #FFB800; 
    overflow: hidden; 

}



header{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-content :center;
   
    
}  

header a {
    display: flex;
    align-items: center;
    margin-left: 1rem;
 
 
}   

header h1{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    word-break: keep-all;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight:bold;
    
    align-items: center;
}



main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4rem  4rem 0rem 0rem;
    background-color: white;
}

main h2{
    
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight:bold;
}



main .aparelho {
    display: flex;
    justify-content: center;
    background-color: white; 

    
    
}


main .aparelho > select{
    width: 8rem;
    border-top: none;
    border-left: none ;
    border-right: none;
    outline: none;
    text-align-last: center; 
    color:#999595;
  
}

main p{
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight:normal;
    
}

main .parcelamento {
    display: flex;
    justify-content: center;
    background-color: white;
    

}

main .parcelamento > select {
    width: 8rem;
    border-top: none;
    border-left: none ;
    border-right: none;
    text-align-last: center;
    outline: none;
    color:#999595;
    

}

main .parcelamento select > option {
    text-align-last: center;
}

main h2 {
    text-align: center;
}

.foto{
    display: flex;
    justify-content: center;
    background-color:white;
}


.foto img{
    height: 150px;
    width:150px;

}

.perguntas{
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight:normal;
}






.realizarpedido{
    display: flex;
    justify-content: center;
    
}


.realizarpedido{
    background-color: white;
     padding-top: 2rem ;
    height: 50vh;
    
   


}

.realizarpedido button{
    height: 25px;
    width: 135px;
    background-color: #FFB800 ;
    color: white;
    border-radius: 2rem;
    border:none;
    
}

.teste{
    background-color: red;
   /* height: 30px; */
   width: 30px;
}