body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #FFB800; 
    /* overflow: hidden; */

}

header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
}

header h1{
    text-align: center;
    font-size: 1.5rem;
    color: white;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 4rem  4rem 0rem 0rem;
    background-color: white;
}

main h2{
    word-break:break-word;
}

.aparelho{
    display: flex;
    justify-content: center;
    background-color: white;
    position: initial;
    
 
    
}



main p{
    text-align: center;
}

h2 {
    text-align: center;

}

.foto{
    display: flex;
    justify-content: center;
    background-color:white;
}


.foto img{
    height: 150px;
    width:150px;

}

.perguntas{
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
}

.parcelamento {
    display: flex;
    justify-content: center;
    background-color: white;
}

.realizarpedido{
    display: flex;
    justify-content: center;
    
}


.realizarpedido{
    background-color: white;
   padding-top: 2rem ;
    height: 100vh;
    
   


}

.realizarpedido button{
    height: 25px;
    width: 135px;
    background-color: #FFB800 ;
    color: white;
    border-radius: 2rem;
    border:none;
    
}